{
  "SaveName": "我IKUN小宝贝的世界",
  "WorldName": "851062",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 606503604,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "我IKUN小宝贝的世界",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1697037764,
  "TotalPlayTime": 9834,
  "UpdateTime": 1697031136,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\m15684349420@163.com\\LanGameHost\\我IKUN小宝贝的世界",
  "GUID": "LanGame-1e0a8724-46c6-41ff-aa65-ab24309b9422",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "aut": false,
      "Name": "我IKUN小宝贝",
      "CreatedTimeStamp": 1696639940,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}