{
  "SaveName": "我IKUN小宝贝的世界4",
  "WorldName": "262737",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 606503604,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "我IKUN小宝贝的世界4",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1696597387,
  "TotalPlayTime": 1920,
  "UpdateTime": 1696595466,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\m15684349420@163.com\\LanGameHost\\我IKUN小宝贝的世界4",
  "GUID": "LanGame-e972c21e-979d-43e9-8ed1-4748b16b2594",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "atu": false,
      "Name": "我IKUN小宝贝",
      "CreatedTimeStamp": 1696595458,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}