{
  "SaveName": "我IKUN小宝贝的世界1",
  "WorldName": "433530",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 606503604,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "我IKUN小宝贝的世界1",
  "RoomType": 2,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": true,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1696573870,
  "TotalPlayTime": 3812,
  "UpdateTime": 1696573580,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": true,
  "GamePath": "D:\\MCLDownload\\Game\\m15684349420@163.com\\LanGameHost\\我IKUN小宝贝的世界1",
  "GUID": "LanGame-648f48ff-d057-4169-872c-e67b3adcaf43",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "atu": false,
      "Name": "我IKUN小宝贝",
      "CreatedTimeStamp": 1696315330,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 17,
  "ServerID": 0,
  "HasPassword": false,
  "tag_ids": [],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}